nbproject
app/admin_views/categories/*.phtml.php
app/admin_views/product/*.phtml.php
app/admin_views/order/*.phtml.php
app/admin_views/feed/*.phtml.php
app/admin_views/*.phtml.php
app/admin_views/home/*.phtml.php
app/admin_views/index/*.phtml.php
app/admin_views/profile/*.phtml.php
app/admin_views/rules/*.phtml.php
app/admin_views/signup/*.phtml.php
app/admin_views/users/*.phtml.php
**/*.phtml.php
logs/*.log
app/config/config.ini
public/img/products/*.jpg
app/tmp/*.jpg
app/tmp/*.gz
.htaccess
app/logs/debug.log

app/views/categories/*.phtml.php
app/views/product/*.phtml.php
app/views/order/*.phtml.php
app/views/feed/*.phtml.php
app/views/*.phtml.php
app/views/home/*.phtml.php
app/views/index/*.phtml.php
app/views/profile/*.phtml.php
app/views/rules/*.phtml.php
app/views/signup/*.phtml.php
app/views/users/*.phtml.php
